.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .grid-container {
    grid-template-columns: 100%;
  }
}
