.grid-item {
  margin: 20px;
  h3 {
    color: $primaryColor;
  }
  .item-image {
    img {
      width: 100%;
      height: 300px;
    }
  }
  .item-info {
    color: $secondaryColor;
  }
  .item-source-info,
  .item-tags {
    color: $subtitleColor;
  }
}

@media (min-device-width: 320px) {
  .grid-item {
    width: 90%;
    margin: 0 auto;
    h3,
    .item-info,
    .item-source-info,
    .item-tags,
    .item-image {
      padding: 7px;
    }
    .item-image {
      padding-top: 40px;
    }
  }
}
