.pagination {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  a {
    margin: 0 5px 0 5px;
    text-decoration: none;
    color: $secondaryColor;
  }
  .active {
    font-size: 1.5rem;
    color: $primaryColor;
  }
}
.load-more {
  visibility: hidden;
}
@media (min-device-width: 320px) {
  .pagination {
    visibility: hidden;
  }
  .load-more {
    visibility: visible;
  }
}
@media (min-device-width: 1025px) {
  .pagination {
    visibility: visible;
  }
  .load-more {
    visibility: hidden;
  }
}
