.tags {
  width: 80%;
  .active {
    background-color: $primaryColor;
  }
}
@media (min-device-width: 320px) {
  .tags {
    margin: 20px 50px;
  }
}
@media (min-width: 1025px) {
  .tags {
    margin: 50px 100px;
  }
}
