@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 80%;
  background-color: #272727;
  margin-right: auto;
  margin-left: auto;
}

@media (min-device-width: 320px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-device-width: 1025px) {
  body {
    padding-right: 15px;
    padding-left: 15px;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.bold {
  font-weight: bold;
}

h1 {
  color: #ef454b;
  margin-top: 50px;
  text-align: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  margin-top: 50px;
}

@media (min-device-width: 320px) {
  .grid-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media (min-device-width: 1025px) {
  .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid-container article .grid-item button {
  border: none;
  margin-top: 10px;
  width: 150px;
  padding: 7px;
  cursor: pointer;
  font-size: 14px;
  background-color: #ef454b;
  border-radius: 15px;
  color: #e9e9e9;
}

.pill-button {
  border: none;
  margin-top: 10px;
  width: 150px;
  padding: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ef454b;
  border-radius: 15px;
  background-color: #272727;
  color: #e9e9e9;
}

@media (min-device-width: 320px) {
  .social-media {
    visibility: hidden;
  }
  .pill-button {
    width: 100px;
    font-size: small;
  }
  .grid-container article .grid-item {
    text-align: center;
  }
  .load-more {
    text-align: center;
  }
  .load-more .load-more-button {
    border: none;
    margin-top: 10px;
    width: 150px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    background-color: #272727;
    color: #ef454b;
  }
  .load-more .load-more-icon {
    color: #e9e9e9;
  }
}

@media (min-device-width: 1025px) {
  .grid-container article .grid-item {
    text-align: left;
  }
  .grid-container article .grid-item button {
    margin-left: 5px;
  }
  .pill-button {
    width: 150px;
  }
  .social-media {
    visibility: visible;
    float: left;
    top: 100%;
    left: 50px;
    position: absolute;
  }
  .social-media button {
    border: none;
    margin-top: 10px;
    width: 150px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
    background-color: #e9e9e9;
    color: #272727;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: block;
  }
}

.grid-item {
  margin: 20px;
}

.grid-item h3 {
  color: #ef454b;
}

.grid-item .item-image img {
  width: 100%;
  height: 300px;
}

.grid-item .item-info {
  color: #e9e9e9;
}

.grid-item .item-source-info,
.grid-item .item-tags {
  color: #6a6a6a;
}

@media (min-device-width: 320px) {
  .grid-item {
    width: 90%;
    margin: 0 auto;
  }
  .grid-item h3,
  .grid-item .item-info,
  .grid-item .item-source-info,
  .grid-item .item-tags,
  .grid-item .item-image {
    padding: 7px;
  }
  .grid-item .item-image {
    padding-top: 40px;
  }
}

.pagination {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.pagination a {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: #e9e9e9;
}

.pagination .active {
  font-size: 1.5rem;
  color: #ef454b;
}

.load-more {
  visibility: hidden;
}

@media (min-device-width: 320px) {
  .pagination {
    visibility: hidden;
  }
  .load-more {
    visibility: visible;
  }
}

@media (min-device-width: 1025px) {
  .pagination {
    visibility: visible;
  }
  .load-more {
    visibility: hidden;
  }
}

.tags {
  width: 80%;
}

.tags .active {
  background-color: #ef454b;
}

@media (min-device-width: 320px) {
  .tags {
    margin: 20px 50px;
  }
}

@media (min-width: 1025px) {
  .tags {
    margin: 50px 100px;
  }
}
/*# sourceMappingURL=main.css.map */