$primaryColor: rgb(239, 69, 75);
$backgroundColor: rgb(39, 39, 39);
$secondaryColor: rgb(233, 233, 233);

$subtitleColor: rgb(106, 106, 106);
$fontStack: 'Inter', sans-serif;

$btnWidth: 150px;
$btnBorder: none;
$btnPadding: 7px;
$btnMarginTop:10px;
$btnCursor: pointer;
$btnFontSize:14px;
