html {
  box-sizing: border-box;
}

body {
  width: 80%;
  background-color: $backgroundColor;
  margin-right: auto;
  margin-left: auto;
}

@media (min-device-width: 320px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-device-width: 1025px) {
  body {
    padding-right: 15px;
    padding-left: 15px;
  }
}
